* {
    margin: 0px;
}

#nome {
    text-decoration: underline;
    color: #750a75;
}

#pic {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    border: 3px solid #750a75;
    box-shadow:black 2px 3px 15px 1px;
}

.links {
    color: rgb(168, 168, 255);
    text-decoration: none;
}

.indent {
    text-indent: 2em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(199, 137, 199),rgb(122, 50, 122) )
}
header {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #FFFFFF;
}
header > h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
main {
    align-items: center;
    display: flex;
    flex-direction: column;
}
main > div > h2 {
    margin-bottom: 15px;
}
main > div > h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}
main > div > p {
    margin-bottom: 15px;

}
main > div > ul > li {
    margin-bottom: 15px;
    list-style:circle;
}
#linksPessoais, #estudosAtuais, #techsConhecidas {
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 8px;
    box-shadow: black 1px 1px 8px 0px;
    background-color: white;

}
h2 {
    color: #94269e;
}
h3 {
    color: rgb(189, 93, 189);
}